<!DOCTYPE html>
<html>
<head>
	<title>Python Istagram</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <br>
    <h3> Prathamesh Palaskar 1001232248 Timing 1 pm</h3>
Login form <form action="/register" method="post" >
Enter the user name <input type="text" name="user_name">
Enter the password <input type="password" name="user_pass">

        <input type="submit" value="Login"><br>

</form>
    </body>
</html>
