<!DOCTYPE html>
<html>
<head>
	<title>Python Kmeans Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <br>
    <h3> Prathamesh Palaskar 1001232248 Timing 1 pm</h3>
Uploads the images  <form action="upload" method="post" enctype="multipart/form-data">
<input type= "file" name="file_upload" value="Browse"> <br>
<input type="text" name="comment">

<input type="submit" name="submit" value ="upload"><br>


</form>
<form action = "/view_only_user" method ="post" enctype = "multipart/form-data">
   <input type = 'submit' value='View only User' />
</form>

<br>
<form action = "/all_user_pics" method ="post" enctype = "multipart/form-data">
    Enter the number of images<input type="text" name="number">
   <input type = 'submit' value='View The photos' />
</form>

    </body>
</html>
